{% extends 'base.html' %}

{% block content %}
<section class="bg-gray-100 text-gray-800">
    <div class="max-w-5xl mx-auto p-4">
        <!-- About Us -->
        <section class="text-center py-8 bg-white rounded-lg shadow-md mt-6">
            <h1 class="text-4xl font-bold text-purple-600 mb-4">About BlogLore</h1>
            <p class="text-lg leading-relaxed mb-6">
                BlogLore was founded with a simple mission: to provide high-quality, informative, and entertaining content on world history. Our team of passionate writers and experts are dedicated to bringing you fresh perspectives and valuable insights on key historical events and figures. From in-depth articles to quick tips, we aim to enrich your knowledge and spark your curiosity every day.
            </p>
            <p class="text-lg leading-relaxed mb-6">
                Our blog covers a wide range of topics, including ancient civilizations, medieval history, and modern events. We believe that understanding our past is essential to making sense of the present and shaping a better future. At BlogLore, we strive to create a community where history enthusiasts can come together to learn, share, and discuss.
            </p>
            <p class="text-lg leading-relaxed">
                Thank you for visiting BlogLore. We hope you find our content enlightening and enjoyable. If you have any questions or suggestions, please don't hesitate to get in touch with us. Your feedback is invaluable as we continue to grow and improve.
            </p>
        </section>
    </div>
</section>

{% endblock %}